<div class="ui-views">
	<div class="ui-quote">列表页</div>
	<div class="ui-query-box">
		<div class="ui-form ui-query">
			<div class="ui-items-inline">
				<label for="" class="ui-label">查询输入框</label>
				<div class="ui-input-inline">
					<input type="text" class="ui-input" ng-model="query.name">
				</div>
			</div>
			<div class="ui-items-inline">
				<label for="" class="ui-label">查询select</label>
				<div class="ui-input-inline">
					<select name="" id="" class="ui-select">
						<option value="">全部</option>
						<option value="">北京</option>
						<option value="">上海</option>
						<option value="">广州</option>
					</select>
					<i class="ui-icon">&#xe65c;</i>
				</div>
			</div>
			<div class="ui-items-inline">
				<label for="" class="ui-label">查询select</label>
				<div class="ui-input-inline ui-linkage">
					<div>
						<select name="" id="" class="ui-select ui-small">
							<option value="">全部</option>
							<option value="">北京</option>
							<option value="">上海</option>
							<option value="">广州</option>
						</select>
						<i class="ui-icon">&#xe65c;</i>
					</div>
					<div class="ui-pd-col-5">-</div>
					<div>
						<select name="" id="" class="ui-select ui-small">
							<option value="">全部</option>
							<option value="">北京</option>
							<option value="">上海</option>
							<option value="">广州</option>
						</select>
						<i class="ui-icon">&#xe65c;</i>
					</div>
				</div>
			</div>
			<div class="ui-items-inline">
				<label for="" class="ui-label">查询区间</label>
				<div class="ui-input-inline ui-linkage">
					<div>
						<input type="text" class="ui-input ui-small" readonly id="start1">
						<i class="ui-icon ui-input-icon" position="right">&#xe61f;</i>
					</div>
					<div class="ui-pd-col-5">至</div>
					<div>
						<input type="text" class="ui-input ui-small" readonly id="end1">
						<i class="ui-icon ui-input-icon" position="right">&#xe61f;</i>
					</div>
				</div>
			</div>
			<div class="ui-items-inline">
				<label for="" class="ui-label">查询输入框</label>
				<div class="ui-input-inline">
					<input type="text" class="ui-input">
				</div>
			</div>
			<div class="ui-items-inline">
				<label for="" class="ui-label">查询select</label>
				<div class="ui-input-inline">
					<select name="" id="" class="ui-select">
						<option value="">全部</option>
						<option value="">北京</option>
						<option value="">上海</option>
						<option value="">广州</option>
					</select>
					<i class="ui-icon">&#xe65c;</i>
				</div>
			</div>
			<div class="ui-items-inline">
				<label for="" class="ui-label">查询select</label>
				<div class="ui-input-inline ui-linkage">
					<div>
						<select name="" id="" class="ui-select ui-small">
							<option value="">全部</option>
							<option value="">北京</option>
							<option value="">上海</option>
							<option value="">广州</option>
						</select>
						<i class="ui-icon">&#xe65c;</i>
					</div>
					<div class="ui-pd-col-5">-</div>
					<div>
						<select name="" id="" class="ui-select ui-small">
							<option value="">全部</option>
							<option value="">北京</option>
							<option value="">上海</option>
							<option value="">广州</option>
						</select>
						<i class="ui-icon">&#xe65c;</i>
					</div>
				</div>
			</div>
			<div class="ui-items-inline">
				<label for="" class="ui-label">查询区间</label>
				<div class="ui-input-inline ui-linkage">
					<div>
						<input type="text" class="ui-input ui-small" readonly id="start2">
						<i class="ui-icon ui-input-icon" position="right">&#xe61f;</i>
					</div>
					<div class="ui-pd-col-5">至</div>
					<div>
						<input type="text" class="ui-input ui-small" readonly id="end2">
						<i class="ui-icon ui-input-icon" position="right">&#xe61f;</i>
					</div>
				</div>
			</div>
			<div class="ui-query-button">
				<a href="javascript: void(0);" class="ui-btn-normal" ng-click="query.$query()">查询</a>
			</div>
		</div>
		<div class="ui-query-more"></div>
	</div>
	<div align="right">
		<a href="#" class="ui-btn-danger ui-small">按钮</a>
		<a href="javascript: ;" class="ui-btn-normal-outline ui-font"><i>&#xe608;</i></a>
		<a href="javascript: ;" class="ui-btn-raw-outline ui-font"><i>&#xe631;</i></a>
	</div>
	<div class="ui-table-box ui-pd-row-15">
		<table class="ui-table" ui-border="all" ui-background="even" ui-hover>
			<colgroup>
			  <col width="150">
			  <col width="150">
			  <col width="150">
			  <col width="200">
			  <col width="100">
			</colgroup>
			<thead>
				<tr>
					<th>姓名</th>
					<th>性别</th>
					<th>出生日期</th>
					<th>座右铭</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, value) in data.data">
					<td>{{value.name}}</td>
					<td>{{value.sex}}</td>
					<td>{{value.birthday}}</td>
					<td>{{value.remark}}</td>
					<td>
						<a href="javascript: void(0)" class="ui-btn-info ui-font ui-small" title="查看" ui-sref="home.demo.details"><i>&#xe614;</i></a>
						<a href="javascript: void(0)" class="ui-btn-success ui-font ui-small" title="编辑" ui-sref="home.comp.button"><i>&#xe600;</i></a>
						<a href="javascript: void(0)" class="ui-btn-deepred ui-font ui-small" title="删除"><i>&#xe645;</i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<pagination url="{{$root.domain}}/json/list.json" data="data" query="query"></pagination>
</div>
<script>
	var start1 = timeStart('#start1', 'end1');
	var end1 = timeEnd('#end1', 'start1');
	laydate(start1);  
	laydate(end1); 
	var start2 = timeStart('#start2', 'end2');
	var end2 = timeEnd('#end2', 'start2');
	laydate(start2);  
	laydate(end2);
</script>