.ui-padding-5{
	padding: 5px;
}
.ui-padding-10{
	padding: 10px;
}
.ui-padding-12{
	padding: 12px;
}
.ui-padding-15{
	padding: 15px;
}
.ui-padding-20{
	padding: 20px;
}

.ui-padding-col-5{
	padding: 0 5px;
}
.ui-padding-col-10{
	padding: 0 10px;
}
.ui-padding-col-12{
	padding: 0 12px;
}
.ui-padding-col-15{
	padding: 0 15px;
}
.ui-padding-col-20{
	padding: 0 20px;
}

.ui-padding-row-5{
	padding: 5px 0;
}
.ui-padding-row-10{
	padding: 10px 0;
}
.ui-padding-row-12{
	padding: 12px 0;
}
.ui-padding-row-15{
	padding: 15px 0;
}
.ui-padding-row-20{
	padding: 20px 0;
}

/* margin */
.ui-margin-5{
	margin: 5px;
}
.ui-margin-10{
	margin: 10px;
}
.ui-margin-12{
	margin: 12px;
}
.ui-margin-15{
	margin: 15px;
}
.ui-margin-20{
	margin: 20px;
}

.ui-margin-col-5{
	margin: 0 5px;
}
.ui-margin-col-10{
	margin: 0 10px;
}
.ui-margin-col-12{
	margin: 0 12px;
}
.ui-margin-col-15{
	margin: 0 15px;
}
.ui-margin-col-20{
	margin: 0 20px;
}

.ui-margin-row-5{
	margin: 5px 0;
}
.ui-margin-row-10{
	margin: 10px 0;
}
.ui-margin-row-12{
	margin: 12px 0;
}
.ui-margin-row-15{
	margin: 15px 0;
}
.ui-margin-row-20{
	margin: 20px 0;
}

/* color */
.ui-color-red{
	color: #f00;
}
.ui-color-blue{
	color: #00a2ca;
}