.ui-wd-1,
.ui-wd-2,
.ui-wd-3,
.ui-wd-4,
.ui-wd-5,
.ui-wd-6,
.ui-wd-7,
.ui-wd-8,
.ui-wd-9,
.ui-wd-10,
.ui-wd-11,
.ui-wd-12,{
  float: left;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.ui-wd-12{
  width: 100%;
}
.ui-wd-11{
  width: 91.66666667%;
}
.ui-wd-10{
  width: 83.33333333%;
}
.ui-wd-9{
  width: 75%;
}
.ui-wd-8{
  width: 66.66666667%;
}
.ui-wd-7{
  width: 58.33333333%;
}
.ui-wd-6{
  width: 50%;
}
.ui-wd-5{
  width: 41.66666667%;
}
.ui-wd-4{
  width: 33.33333333%;
}
.ui-wd-3{
  width: 25%;
}
.ui-wd-2{
  width: 16.66666667%;
}
.ui-wd-1{
  width: 8.33333333%;
}



.ui-ps-lf-12{
  left: 100%;
}
.ui-ps-lf-11{
  left: 91.66666667%;
}
.ui-ps-lf-10{
  left: 83.33333333%;
}
.ui-ps-lf-9{
  left: 75%;
}
.ui-ps-lf-8{
  left: 66.66666667%;
}
.ui-ps-lf-7{
  left: 58.33333333%;
}
.ui-ps-lf-6{
  left: 50%;
}
.ui-ps-lf-5{
  left: 41.66666667%;
}
.ui-ps-lf-4{
  left: 33.33333333%;
}
.ui-ps-lf-3{
  left: 25%;
}
.ui-ps-lf-2{
  left: 16.66666667%;
}
.ui-ps-lf-1{
  left: 8.33333333%;
}



.ui-ps-rf-12{
  left: 100%;
}
.ui-ps-rf-11{
  left: 91.66666667%;
}
.ui-ps-rf-10{
  left: 83.33333333%;
}
.ui-ps-rf-9{
  left: 75%;
}
.ui-ps-rf-8{
  left: 66.66666667%;
}
.ui-ps-rf-7{
  left: 58.33333333%;
}
.ui-ps-rf-6{
  left: 50%;
}
.ui-ps-rf-5{
  left: 41.66666667%;
}
.ui-ps-rf-4{
  left: 33.33333333%;
}
.ui-ps-rf-3{
  left: 25%;
}
.ui-ps-rf-2{
  left: 16.66666667%;
}
.ui-ps-rf-1{
  left: 8.33333333%;
}



.ui-mg-lf-12{
  margin-left: 100%;
}
.ui-mg-lf-11{
  margin-left: 91.66666667%;
}
.ui-mg-lf-10{
  margin-left: 83.33333333%;
}
.ui-mg-lf-9{
  margin-left: 75%;
}
.ui-mg-lf-8{
  margin-left: 66.66666667%;
}
.ui-mg-lf-7{
  margin-left: 58.33333333%;
}
.ui-mg-lf-6{
  margin-left: 50%;
}
.ui-mg-lf-5{
  margin-left: 41.66666667%;
}
.ui-mg-lf-4{
  margin-left: 33.33333333%;
}
.ui-mg-lf-3{
  margin-left: 25%;
}
.ui-mg-lf-2{
  margin-left: 16.66666667%;
}
.ui-mg-lf-1{
  margin-left: 8.33333333%;
}



.ui-mg-rf-12{
  margin-right: 100%;
}
.ui-mg-rf-11{
  margin-right: 91.66666667%;
}
.ui-mg-rf-10{
  margin-right: 83.33333333%;
}
.ui-mg-rf-9{
  margin-right: 75%;
}
.ui-mg-rf-8{
  margin-right: 66.66666667%;
}
.ui-mg-rf-7{
  margin-right: 58.33333333%;
}
.ui-mg-rf-6{
  margin-right: 50%;
}
.ui-mg-rf-5{
  margin-right: 41.66666667%;
}
.ui-mg-rf-4{
  margin-right: 33.33333333%;
}
.ui-mg-rf-3{
  margin-right: 25%;
}
.ui-mg-rf-2{
  margin-right: 16.66666667%;
}
.ui-mg-rf-1{
  margin-right: 8.33333333%;
}








.ui-items{
  margin-bottom: 15px;
  zoom: 1;
  &:after{
    content:"\0020";
    height:0;
    display:block;
    clear:both;
  }
}