<div class="ui-views">
	<div class="ui-quote">选择时间-laydate</div>
	<div class="ui-form">
		<div class="ui-items">
			<label for="" class="ui-label ui-wd-2" align="right">默认：</label>
			<div class="ui-wd-3">
				<div class="ui-relative" style="width: 267px;">
					<input type="text" class="ui-input" readonly id="default" onclick="laydate()">
					<i class="ui-icon ui-input-icon" position="right">&#xe61f;</i>
				</div>
			</div>
		</div>
		<div class="ui-items">
			<label for="" class="ui-label ui-wd-2" align="right">默认值：</label>
			<div class="ui-wd-3">
				<div class="ui-relative" style="width: 267px;">
					<input type="text" class="ui-input" readonly id="default" onclick="laydate()" value="2017-08-08">
					<i class="ui-icon ui-input-icon" position="right">&#xe61f;</i>
				</div>
			</div>
		</div>
		<div class="ui-items">
			<label for="" class="ui-label ui-wd-2" align="right">最大值：</label>
			<div class="ui-wd-3">
				<div class="ui-relative" style="width: 267px;">
					<input type="text" class="ui-input" readonly id="default" onclick="laydate({max: laydate.now()})">
					<i class="ui-icon ui-input-icon" position="right">&#xe61f;</i>
				</div>
			</div>
		</div>
		<div class="ui-items">
			<label for="" class="ui-label ui-wd-2" align="right">最小值：</label>
			<div class="ui-wd-3">
				<div class="ui-relative" style="width: 267px;">
					<input type="text" class="ui-input" readonly id="default" onclick="laydate({min: laydate.now()})">
					<i class="ui-icon ui-input-icon" position="right">&#xe61f;</i>
				</div>
			</div>
		</div>
		<div class="ui-items">
			<label for="" class="ui-label ui-wd-2" align="right">时间段：</label>
			<div class="ui-wd-6">
				<div class="ui-items-inline">
					<div class="ui-input-inline ui-linkage">
						<div>
							<input type="text" class="ui-input ui-small" readonly id="start">
							<i class="ui-icon ui-input-icon" position="right">&#xe61f;</i>
						</div>
						<div class="ui-pd-col-5">至</div>
						<div>
							<input type="text" class="ui-input ui-small" readonly id="end">
							<i class="ui-icon ui-input-icon" position="right">&#xe61f;</i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui-items">
			<label for="" class="ui-label ui-wd-2" align="right">时分秒：</label>
			<div class="ui-wd-3">
				<div class="ui-relative" style="width: 267px;">
					<input type="text" class="ui-input" readonly id="default" onclick="laydate({format: 'YYYY-MM-DD hh:mm:ss', istime: true})">
					<i class="ui-icon ui-input-icon" position="right">&#xe61f;</i>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-tip ui-mg-row-20">
		前端实现：
		<br>
		<span style="display: inline-block; width: 70px;"></span>
		1、默认：&lt;input onclick="laydate()"&gt;
		<br>
		<span style="display: inline-block; width: 70px;"></span>
		2、定义格式：&lt;input onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"&gt;
		<br>
		<span style="display: inline-block; width: 70px;"></span>
		3、外部调用：
		<br>
		<span style="display: inline-block; width: 70px;"></span><span style="display: inline-block; width: 70px;"></span>
		&lt;input id="hello" class="laydate-icon"&gt;
		<br>
		<span style="display: inline-block; width: 70px;"></span><span style="display: inline-block; width: 70px;"></span>
		&lt;script>
		<br>
		<span style="display: inline-block; width: 70px;"></span><span style="display: inline-block; width: 70px;"></span>
		laydate({
		<br>
		<span style="display: inline-block; width: 70px;"></span><span style="display: inline-block; width: 70px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;
		  elem: '#hello', //目标元素。elem允许你传入class、tag但必须按照这种方式 '#id .class'
		<br>
		<span style="display: inline-block; width: 70px;"></span><span style="display: inline-block; width: 70px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;
		  event: 'focus' //响应事件。如果没有传入event，则按照默认的click
		<br>
		<span style="display: inline-block; width: 70px;"></span><span style="display: inline-block; width: 70px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;
		  format: 'YYYY/MM', // 分隔符可以任意定义，该例子表示只显示年月
		<br>
		<span style="display: inline-block; width: 70px;"></span><span style="display: inline-block; width: 70px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;
		  festival: true, //显示节日
		<br>
		<span style="display: inline-block; width: 70px;"></span><span style="display: inline-block; width: 70px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;
		  choose: function(datas){} //选择日期完毕的回调
		<br>
		<span style="display: inline-block; width: 70px;"></span><span style="display: inline-block; width: 70px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;
		  min: laydate.now(-1), //-1代表昨天，-2代表前天，以此类推
		<br>
		<span style="display: inline-block; width: 70px;"></span><span style="display: inline-block; width: 70px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;
		  max: laydate.now(+1) //+1代表明天，+2代表后天，以此类推
		<br>
		<span style="display: inline-block; width: 70px;"></span><span style="display: inline-block; width: 70px;"></span>
		});
		<br>
		<span style="display: inline-block; width: 70px;"></span><span style="display: inline-block; width: 70px;"></span>
		&lt;/script&gt;
		<br>
	</div>
	<div class="ui-tip ui-mg-row-20">
		时间段：
		<br>
		<span style="display: inline-block; width: 70px;"></span>
		var start = timeStart('#start', 'end');
		<br>
		<span style="display: inline-block; width: 70px;"></span>
		var end = timeEnd('#end', 'start');
		<br>
		<span style="display: inline-block; width: 70px;"></span>
		laydate(start);  
		<br>
		<span style="display: inline-block; width: 70px;"></span>
		laydate(end);
		<br>
	</div>
</div>
<script>
if(!start){
	var start = timeStart('#start', 'end');
	var end = timeEnd('#end', 'start');
	laydate(start);  
	laydate(end);
}else{
	laydate(start);  
	laydate(end);
}
</script>
<style>
	.ui-tip{line-height: 28px;}
</style>