<div class="view-box">
	<h1 class="ui-title">&lt;h1 class="ui-title"&gt;标题h1&lt;h1&gt;</h1>
	<h2 class="ui-title">&lt;h2 class="ui-title"&gt;标题h2&lt;h2&gt;</h2>
	<h3 class="ui-title">&lt;h3 class="ui-title"&gt;标题h3&lt;h3&gt;</h3>
	<div class="ui-quote">&lt;div class="ui-quote"&gt;引用标题&lt;div&gt;</div>
	<div class="ui-quote ui-prompt">&lt;div class="ui-quote ui-prompt"&gt;引用标题&lt;div&gt;</div>
	<div class="ui-quote ui-large">&lt;div class="ui-quote ui-large"&gt;引用标题&lt;div&gt;</div>
	<div class="ui-tle-h2">&lt;div class="ui-tle-h2"&gt;小标题&lt;div&gt;</div>
	<div class="ui-tip">&lt;div class="ui-tip"&gt;提示&lt;div&gt;</div>
	<div class="panels-box clear" style="background: #eaedf1;padding: 15px 0">
		<div class="ui-panels-default ui-wd-6">
			<div class="ui-panel-head">panel default head</div>
			<div class="ui-panel-body">panel default body</div>
		</div>
		<div class="ui-panels-normal ui-wd-6">
			<div class="ui-panel-head">panel normal head</div>
			<div class="ui-panel-body">panel normal body</div>
		</div>
		<div class="ui-panels-primary ui-wd-4">
			<div class="ui-panel-head">panel primary head</div>
			<div class="ui-panel-body">panel primary body</div>
		</div>
		<div class="ui-panels-success ui-wd-4">
			<div class="ui-panel-head">panel success head</div>
			<div class="ui-panel-body">panel success body</div>
		</div>
		<div class="ui-panels-info ui-wd-4">
			<div class="ui-panel-head">panel info head</div>
			<div class="ui-panel-body">panel info body</div>
		</div>
		<div class="ui-panels-warning ui-wd-3">
			<div class="ui-panel-head">panel warning head</div>
			<div class="ui-panel-body">panel warning body</div>
		</div>
		<div class="ui-panels-deepred ui-wd-3">
			<div class="ui-panel-head">panel deepred head</div>
			<div class="ui-panel-body">panel deepred body</div>
		</div>
		<div class="ui-panels-black ui-wd-3">
			<div class="ui-panel-head">panel black head</div>
			<div class="ui-panel-body">panel black body</div>
		</div>
		<div class="ui-panels-maroon ui-wd-3">
			<div class="ui-panel-head">panel maroon head</div>
			<div class="ui-panel-body">panel maroon body</div>
		</div>
	</div>
	<div class="panels-box clear" style="background: #eaedf1;padding: 15px 0">
		<div class="ui-panels-default ui-wd-6 ui-border">
			<div class="ui-panel-head">panel default head</div>
			<div class="ui-panel-body">panel default body</div>
		</div>
		<div class="ui-panels-normal ui-wd-6 ui-border">
			<div class="ui-panel-head">panel normal head</div>
			<div class="ui-panel-body">panel normal body</div>
		</div>
		<div class="ui-panels-primary ui-wd-4 ui-border">
			<div class="ui-panel-head">panel primary head</div>
			<div class="ui-panel-body">panel primary body</div>
		</div>
		<div class="ui-panels-success ui-wd-4 ui-border">
			<div class="ui-panel-head">panel success head</div>
			<div class="ui-panel-body">panel success body</div>
		</div>
		<div class="ui-panels-info ui-wd-4 ui-border">
			<div class="ui-panel-head">panel info head</div>
			<div class="ui-panel-body">panel info body</div>
		</div>
		<div class="ui-panels-warning ui-wd-3 ui-border">
			<div class="ui-panel-head">panel warning head</div>
			<div class="ui-panel-body">panel warning body</div>
		</div>
		<div class="ui-panels-deepred ui-wd-3 ui-border">
			<div class="ui-panel-head">panel deepred head</div>
			<div class="ui-panel-body">panel deepred body</div>
		</div>
		<div class="ui-panels-black ui-wd-3 ui-border">
			<div class="ui-panel-head">panel black head</div>
			<div class="ui-panel-body">panel black body</div>
		</div>
		<div class="ui-panels-maroon ui-wd-3 ui-border">
			<div class="ui-panel-head">panel maroon head</div>
			<div class="ui-panel-body">panel maroon body</div>
		</div>
	</div>
	<div class="panels-box clear" style="background: #eaedf1;padding: 15px 0">
		<div class="ui-panels-default ui-wd-6 ui-large">
			<div class="ui-panel-head">panel default head large</div>
			<div class="ui-panel-body">panel default body</div>
		</div>
		<div class="ui-panels-normal ui-wd-6 ui-large">
			<div class="ui-panel-head">panel normal head large</div>
			<div class="ui-panel-body">panel normal body</div>
		</div>
		<div class="ui-panels-normal ui-wd-12">
			<div class="ui-panel-head">panel normal head</div>
			<div class="ui-panel-body">panel normal body</div>
		</div>
		<div class="ui-panels-primary ui-wd-4 ui-small">
			<div class="ui-panel-head">panel primary head small</div>
			<div class="ui-panel-body">panel primary body</div>
		</div>
		<div class="ui-panels-success ui-wd-4 ui-small">
			<div class="ui-panel-head">panel success head small</div>
			<div class="ui-panel-body">panel success body</div>
		</div>
		<div class="ui-panels-info ui-wd-4 ui-small">
			<div class="ui-panel-head">panel info head small</div>
			<div class="ui-panel-body">panel info body</div>
		</div>
	</div>
	<div class="panels-box clear" style="background: #eaedf1;padding: 15px 0">
		<div class="ui-panels-white ui-wd-6">
			<div class="ui-panel-head">panel white head large</div>
			<div class="ui-panel-body">panel white body</div>
		</div>
		<div class="ui-panels-white ui-wd-6">
			<div class="ui-panel-head">panel white head large</div>
			<div class="ui-panel-body">panel white body</div>
		</div>
	</div>
	<div class="panels-box clear" style="background: #eaedf1;padding: 15px 0">
		<div class="ui-panels-white ui-wd-12">
			<div class="ui-panel-head">general</div>
			<div class="ui-panel-body">
				<div class="ui-alert-success">success</div>
				<div class="ui-alert-error">error</div>
				<div class="ui-alert-tip">tip</div>
			</div>
		</div>
	</div>
</div>