<div class="ui-views">
	<div class="ui-welcome-head">
		<ul class="clear">
			<li>
				<a href="javascript: ;" ui-sref="home.curriculum.coursewarelist">
					<i class="ui-icon">&#xe678;</i>
					<div>
						<h4>24</h4>
						<p>课程数量</p>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript: ;" ui-sref="home.curriculum.coursewarelist">
					<i class="ui-icon">&#xe678;</i>
					<div>
						<h4>24</h4>
						<p>课件数量</p>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript: ;" ui-sref="home.curriculum.coursewarelist">
					<i class="ui-icon">&#xe678;</i>
					<div>
						<h4>24</h4>
						<p>试题数量</p>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript: ;" ui-sref="home.curriculum.coursewarelist">
					<i class="ui-icon">&#xe678;</i>
					<div>
						<h4>24</h4>
						<p>人员数量</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
<style>
	.view-box{background: #eee;}
</style>